var webpack = require('webpack');module.exports = {    entry: {        Dropbox: __dirname + 'src/index.js'    },    output: {        filename: '[name]-sdk-min.js',        library: 'name',        libraryTarget: 'umd',        path: __dirname + '/dist'    },    plugins: [        new webpack.optimize.OccurenceOrderPlugin()    ]};